.screen-level-settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-level-settings .title {
  font-family: "Boulder Dash";
  font-size: 1.2em;
}