.screen-level-settings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-level-settings #levels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-level-settings .title {
  font-family: "Boulder Dash";
  font-size: 1.2em;
}

.screen-level-settings .level-container {
  margin: 0px 10px;
  display: flex;
}
.screen-level-settings .level-container h3 {
  font-family: "Boulder Dash";
  font-size: 0.8em;
}
.screen-level-settings .level-container .buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.screen-level-settings .level-container .buttons button {
  font-size: 0.8em;
}

.screen-level-settings .level-grid {
  border: white 3px solid;
}

.screen-level-settings .line {
  display: flex;
}
.screen-level-settings .cell {
  background-color: black;
  width: 16px;
  height: 16px;
}

.screen-level-settings .cell.cell-m { /* wall */
  background-image: url("/img/sprites.png");
  background-position: calc(128px - 1*16px) calc(192px - 6*16px);
  background-color: grey;
  background-size: 128px 192px;
}

.screen-level-settings .cell.cell-d { /* diamond */
  background-image: url("/img/sprites.png");
  background-position: calc(128px - 0*16px) calc(192px - 10*16px);
  background-color: cyan;
  background-size: 128px 192px;
}

.screen-level-settings .cell.cell-t { /* earth */
  background-image: url("/img/sprites.png");
  background-position: calc(128px - 1*16px) calc(192px - 7*16px);
  background-color: saddlebrown;
  background-size: 128px 192px;
}

.screen-level-settings .cell.cell-r { /* rock */
  background-image: url("/img/sprites.png");
  background-position: calc(128px - 0*16px) calc(192px - 7*16px);
  background-color: darkgray;
  background-size: 128px 192px;
}

.screen-level-settings .cell.cell-v { /* void */
  background-color: black;
}

.screen-level-settings .cell.cell-p { /* startpoint */
  background-color: yellow;
  background-image: url("/img/sprites.png");
  background-position: calc(128px - 0*16px) calc(192px - 0*16px);
  background-size: 128px 192px;
}

.screen-level-settings .import-button {
  margin: 24px 0;
}

.screen-level-settings .import-button button {
  font-size: 0.8em;
}

.screen-level-settings .reset-button {
  margin: 10px 0 0 0;
}

.screen-level-settings .reset-button button {
  font-size: 0.8em;
}

.screen-level-settings .save-buttons {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 16px 0 32px 0;
}

.screen-level-settings .arrow-down {
  transform: rotate(180deg);
}

button.up {
  padding: 6px 5px 4px 5px;
}

button.down {
  padding: 7px 5px 3px 5px;
}

button.delete {
  padding: 7px 5px 3px 5px;
  margin-left: 120px;
  margin-right: 120px; 
}