.screen-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-menu .buttons {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

.screen-menu .resume-game.disabled {
  background-color: #000;
  color: #444;
  border-color: #444;
  cursor: default;
}

.screen-menu .button-spacer {
  margin-top: 40px;
}