<div class="screen-game">
  <h1 class="title">Boulder Dash</h1>
  <div id="game-infos"></div>
  <div id="level-grid"></div>
  <div class="buttons">
    <button class="reset">Reset</button>
    <button class="home">Go Home</button>
  </div>
</div>
<div id="game-popup">
  <div class="container">
    <h1 class="title">Are you sure to quit?</h1>
    <div class="buttons-confirm">
      <button>Cancel</button>
      <button>Quit</button>
    </div>
    <div class="one-button">
      <button>Go Home</button>
    </div>
  </div>
</div>